<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tareas Vue</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style>
        .tareaRealizada{
            text-decoration: line-through;
        }
    </style>
</head>
<body>
    <!-- Vuejs component-->
    <div class="container">
        <div id="taskApp" class="col-sm-9 col-sm-offset-2">
            <h1>{{nameApp}}</h1>
            
            <form v-on:submit="agregarTarea">
                <input type="text" v-model="tareas.titulo" class="form-control">
                <input type="submit" value="Agregar Tarea" class="btn btn-block btn-success">
            </form>
                <br>
            <table class="table">
                <thead>
                    <tr>
                        <th>Hecho</th>
                        <th>Tarea</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="tarea in tareas">
                        <td>
                            <input type="checkbox" v-model="tarea.hecho">
                        </td>
                        <td :class="{tareaRealizada: tarea.hecho}">
                            {{tarea.titulo}}
                        </td>
                        <td>
                            <button v-on:click="eliminarTarea (tarea)" class="btn btn-danger">
                                Eliminar
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    
    <script src="https://unpkg.com/vue"></script>
    <script>
        new Vue({
            el:'#taskApp',
            data:{
                nameApp: 'Tareas Vue.js',
                tareas: [
                    {
                        titulo: "Tarea 1",
                        hecho: true

                    },
                    {
                        titulo: " Tarea 2",
                        hecho: false

                    },
                    {
                        titulo: " Tarea 3",
                        hecho: false

                    }
                ]
            },
            methods:{
                eliminarTarea: function(tarea){
                    this.tareas.splice(this.tareas.indexOf(tarea),1);
                },
                agregarTarea: function (e){
                    event.preventDefault();
                    this.tareas.push({
                        titulo: this.tareas.titulo,
                        hecho: false
                    });
                    this.tareas.titulo = " ";
                }
            }
        })
    </script>

</body>
</html>